---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.description }}</description>
    <link>/</link>
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ post.url }}</link>
      <description>{{ post.data.title }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
