<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/favicon_io/site.webmanifest">
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS">
</head>
<body>
    <div class="container">
        <header class="site-header">
            <div class="site-branding">
                <h1><a href="/">{{ metadata.title }}</a></h1>
            </div>
            <nav class="site-navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/showcase/" target="_blank" rel="noopener noreferrer">Showcase</a></li>
                    <li><a href="/now/">Now</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="social-links">
                <span>Connect:</span>
                <a href="https://www.linkedin.com/in/daniel-zirpoli-4324a93b/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                <a href="https://github.com/zirpo" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://medium.com/@aificionado" target="_blank" rel="noopener noreferrer">Medium</a>
                <a href="https://x.com/zirpo" target="_blank" rel="noopener noreferrer">X</a>
            </div>
            <div class="footer-legal">
                <p class="copyright">© 2025 Mein automatisierter Blog. All rights reserved.</p>
                <a href="/impressum/">Impressum</a>
            </div>
        </div>
    </footer>
</body>
</html>
